:root {
  --primary-color: #035761;
  --secondary-color: #f8e3a3;
  --white-color: #fff;
  --black-color: #1a1a1a;
  --light-gray-color: #f4f4f4;
  --gray-color: #d0d0d0;
  --dark-gray-color: #808080;
}
