:root {
  /* --primary-color: #035761; */
  --primary-color: #1a1a1a;
  --secondary-color: #f8e3a3;
  --white-color: #fff;
  --black-color: #1a1a1a;
  --light-gray-color: #f4f4f4;
  --gray-color: #d0d0d0;
  --dark-gray-color: #808080;

  --red-color: #d9534f;
  --green-color: #4bbf73;
  --yellow-color: #f0ad4e;
  --info-color: #1f9bcf;

  --bs-danger-color: #82322f;
  --bs-danger-bg: #f7dddc;
  --bs-danger-border-color: #f4cbca;

  --bs-success-color: #2d7345;
  --bs-success-bg: #dbf2e3;
  --bs-success-border-color: #c9ecd5;

  --bs-warning-color: #90682f;
  --bs-warning-bg: #fcefdc;
  --bs-warning-border-color: #fbe6ca;

  --bs-info-color: #135d7c;
  --bs-info-bg: #d2ebf5;
  --bs-info-border-color: #bce1f1;

  --bs-white-color: #999999;
  --bs-white-bg: white;
  --bs-white-border-color: white;

  --bs-gray-color: #8e8e8e;
  --bs-gray-bg: #f4f4f4;
  --bs-gray-border-color: #d1d1d1;
}
